
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --main-bg-color: #2c2c2c;
    --accent-color: #ed7327;
    --secondary-color: #f04e30;
    --text-color: #333;
    --background-color: #f8f9fa;
    --white: #ffffff;
    --gray: #333333;
    --light-gray: #f9f9f9;
    --font-family: 'Rubik Mono One', serif;
}


body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
}


.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}


header {
    background: var(--main-bg-color);
    color: var(--white);
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo a {
    color: var(--accent-color);
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: 500;
    font-family: var(--font-family);
}


nav {

}

.menu {
    display: flex;
    list-style: none;
    gap: 2rem;
    font-family: var(--font-family);
}

.menu li a {
    color: var(--white);
    text-decoration: none;
    transition: color 0.3s;
}

.menu li a:hover {
    color: var(--secondary-color);
}


.menu-btn {
    display: none; 
    background: none;
    border: none;
    font-size: 1.5rem;
    color: var(--white);
    cursor: pointer;
}


.header-buttons .btn {
    background: var(--accent-color);
    color: var(--white);
    padding: 0.6rem 1.2rem;
    border-radius: 5px;
    text-decoration: none;
    transition: background 0.3s;
    font-family: var(--font-family);
}

.header-buttons .btn:hover {
    background: var(--secondary-color);
}


.hero-section {
    background: url('./images/backGround.jpg') no-repeat center center/cover;
    color: var(--white);
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
    margin-top: 70px; 
}

.hero-content {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2rem;
    border-radius: 16px;
}

.hero-content h1 {
    font-weight: 200;
    margin-bottom: 1rem;
    font-family: var(--font-family);
}

.hero-content p {
    font-size: 1.1rem;
    margin-bottom: 2rem;
    font-family: var(--font-family);
}

.hero-content .btn {
    background-color: var(--accent-color);
    color: var(--white);
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: var(--font-family);
}

.hero-content .btn:hover {
    background-color: var(--secondary-color);
}


.section {
    padding: 4rem 1rem;
    text-align: center;
}

.section h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
    font-family: var(--font-family);
}

.service-list,
.advantages-list {
    display: flex;
    gap: 2rem;
    justify-content: center;
    flex-wrap: wrap;
}

.service-item,
.advantage-item {
    flex: 1 1 300px;
    padding: 1.5rem;
    color: var(--white);
    border: 1px solid #ddd;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    background: #3f3f3f;
}

.service-item i,
.advantage-item i {
    font-size: 2rem;
    color: var(--accent-color);
    margin-bottom: 1rem;
}


.contact-us {
    padding: 3rem 1rem;
    background-color: var(--light-gray);
    text-align: center;
}

.contact-us h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: var(--text-color);
}

.contact-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem;
}

.contact-info {
    flex: 1 1 300px;
    text-align: left;
    color: var(--text-color);
}

.contact-info h3 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: #000000;
    font-family: var(--font-family);
}

.contact-info p {
    font-size: 1.2rem;
    margin: 0.5rem 0;
}

.contact-info a {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}

.contact-info a:hover {
    text-decoration: underline;
}

.contact-details {
    flex: 1 1 300px;
    text-align: center;
}

.contact-details .map iframe {
    border: 0;
    border-radius: 8px;
    width: 100%; 
    height: 300px; 
}


.about-us {
    background-color: var(--main-bg-color); 
    padding: 3rem 1rem;
}

.about-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem;
    flex-wrap: wrap;
}

.about-content {
    flex: 1 1 300px;
    text-align: left;
    color: var(--white);
}

.about-content h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.about-content p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-top: 1rem;
    max-width: 500px;
}

.contact-about {
    flex: 1 1 300px;
    text-align: left;
    color: var(--white);
}

.contact-about h2 {
    font-size: 2.5rem;
    color: var(--white);
    margin-bottom: 1rem;
}

.contact-about p {
    font-size: 1.2rem;
    color: var(--white);
    margin: 0.5rem 0;
}


.section-divider {
    height: 2px; 
    background-color: var(--accent-color); 
    width: 100%; 
    margin: 0;
}


footer {
    background: var(--main-bg-color);
    color: var(--white);
    text-align: center;
    padding: 1rem 0;
}


.cookie-banner {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    color: var(--white);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.5);
    transform: translateY(100%);
    transition: transform 0.3s ease;
    visibility: hidden;
}

.cookie-banner.visible {
    transform: translateY(0);
    visibility: visible;
}

.cookie-banner p {
    margin: 0;
    flex: 1;
}

.cookie-buttons {
    display: flex;
    gap: 1rem;
}

.cookie-btn {
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    color: var(--white);
    background-color: var(--secondary-color);
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.cookie-btn:hover {
    background-color: darkgray;
}

.cookie-btn.secondary {
    background-color: gray;
}

.cookie-btn.secondary:hover {
    background-color: darkgray;
}


.floating-icons {
    position: fixed; 
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    z-index: 1000;
}

.floating-icons .icon {
    width: 50px;
    height: 50px;
    background-color: var(--accent-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    font-size: 1.5rem;
    text-decoration: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.2s;
}

.floating-icons .icon:hover {
    background-color: var(--secondary-color);
    transform: scale(1.1);
}

.floating-icons .icon i {
    pointer-events: none;
}



@media only screen and (max-width: 480px) {

    .header-wrapper {
        flex-direction: column;
        align-items: flex-start;
    }
    
    .menu {
        flex-direction: column;
        width: 100%;
        display: none; 
    }

    .menu.show {
        display: flex;
    }


    .menu-btn {
        display: block;
    }


    .hero-section {
        height: 60vh;
    }
    
    .hero-content h1 {
        font-size: 1.5rem;
    }
    
    .hero-content p {
        font-size: 1rem;
    }
    
    .hero-content .btn {
        padding: 0.5rem 1rem;
        font-size: 0.9rem;
    }
    
 
    .service-list,
    .advantages-list {
        flex-direction: column;
    }
    
    .service-item,
    .advantage-item {
        flex: 1 1 100%;
    }
    
  
    .contact-wrapper {
        flex-direction: column;
        align-items: center;
    }
    
    .contact-info {
        text-align: center;
        margin-top: 2rem;
    }
    
    .contact-details .map iframe {
        height: 200px;
    }
    

    .floating-icons {
        right: 10px;
        bottom: 20px;
    }
    
    .floating-icons .icon {
        width: 40px;
        height: 40px;
        font-size: 1.2rem;
    }
    

    .cookie-banner {
        flex-direction: column;
        text-align: center;
    }
    
    .cookie-buttons {
        flex-direction: column;
        gap: 0.5rem;
        margin-top: 1rem;
    }
    
    .cookie-btn {
        width: 90%;
        margin: 0 auto;
    }
}


@media only screen and (min-width: 481px) and (max-width: 768px) {

    .menu {
        flex-direction: row;
        display: none;
    }

    .menu.show {
        display: flex;
    }

    .header-wrapper {
        align-items: center;
    }
    

    .hero-section {
        height: 70vh;
    }
    
    .hero-content h1 {
        font-size: 2rem;
    }
    
    .hero-content p {
        font-size: 1.1rem;
    }
    
    .hero-content .btn {
        padding: 0.6rem 1.2rem;
        font-size: 1rem;
    }
    

    .service-list,
    .advantages-list {
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    .service-item,
    .advantage-item {
        flex: 1 1 45%;
    }
    

    .contact-wrapper {
        flex-direction: row;
    }
    
    .contact-info {
        text-align: left;
        margin-top: 0;
    }
    
    .contact-details .map iframe {
        height: 250px;
    }
    

    .floating-icons .icon {
        width: 45px;
        height: 45px;
    }
}


@media only screen and (min-width: 769px) and (max-width: 1024px) {

    .hero-section {
        height: 80vh;
    }
    
    .hero-content h1 {
        font-size: 2.5rem;
    }
    
    .hero-content p {
        font-size: 1.2rem;
    }
    
    .hero-content .btn {
        padding: 0.75rem 1.5rem;
        font-size: 1rem;
    }
    

    .service-list,
    .advantages-list {
        gap: 1rem;
    }
    
    .service-item,
    .advantage-item {
        flex: 1 1 30%;
    }
    

    .contact-wrapper {
        flex-direction: row;
    }
    
    .contact-details .map iframe {
        height: 300px;
    }
    

    .floating-icons .icon {
        width: 50px;
        height: 50px;
        font-size: 1.5rem;
    }
}


@media only screen and (min-width: 1025px) {

    .hero-section {
        height: 100vh;
    }
    
    .hero-content h1 {
        font-size: 3rem;
    }
    
    .hero-content p {
        font-size: 1.3rem;
    }
    
    .hero-content .btn {
        padding: 1rem 2rem;
        font-size: 1.1rem;
    }
    

    .service-list,
    .advantages-list {
        gap: 3rem;
    }
    
    .service-item,
    .advantage-item {
        flex: 1 1 25%;
    }
    

    .contact-wrapper {
        flex-direction: row;
    }
    
    .contact-details .map iframe {
        height: 300px;
    }
    

    .floating-icons .icon {
        width: 50px;
        height: 50px;
        font-size: 1.5rem;
    }
}


@media only screen and (min-width: 1440px) {
    .container {
        max-width: 1440px;
    }
    
    .hero-content h1 {
        font-size: 3.5rem;
    }
    
    .hero-content p {
        font-size: 1.5rem;
    }
}


.menu {
    transition: max-height 0.3s ease-in-out;
}

.menu.show {
    display: flex;
}


@media (min-width: 481px) {
    .cookie-banner {
        flex-direction: row;
        text-align: left;
    }
    
    .cookie-buttons {
        flex-direction: row;
        margin-top: 0;
    }
    
    .cookie-btn {
        width: auto;
        margin: 0 0 0 1rem;
    }
}
